<!DOCTYPE html>
<html>
<head>
  <title>Driver Dashboard</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="mx-4">
    <header class="bg-blue-600 text-white px-4 py-2 flex">
        <h1 class="text-xl font-bold text-start">LAUDA DRIVER DASHBOARD</h1>
        <p class="text-capitalize">{{ user.name }} {{ user.license_number }}</p>
        <a class="ml-2 px-4 py-2 bg-gray-200 text-gray-700 rounded-md hover:bg-gray-300 font-bold text-end" href="{% url 'logout' %}">Logout</a>

    </header>

  {% if assigned_vehicles %}
    <ul class="list-disc mx-auto px-4 py-2 rounded-md bg-gray-100 shadow-md">
    <h1 class="text-2xl">VEHICLES ASSIGNED TO YOU</h1>
      {% for vehicle in assigned_vehicles %}
        <li class="text-lg font-medium">
          {{ vehicle }}
        </li>
        {% endfor %}
    </ul>
  {% else %}
    <p>You currently have no assigned vehicles.</p>
  {% endif %}

</body>
</html>
