<!DOCTYPE html>
<html>
<head>
  <title>Driver Dashboard</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="mx-4">
    <header class="bg-blue-600 text-white px-4 py-2 flex justify-center items-center">
        <h1 class="text-xl font-bold">LAUDA DRIVER DASHBOARD</h1>
    </header>

  {% if assigned_vehicles %}
    <ul class="list-disc mx-auto px-4 py-2 rounded-md bg-gray-100 shadow-md">
      {% for vehicle in assigned_vehicles %}
        <li class="text-lg font-medium">
          Make: {{ vehicle.make }}
          Model: {{ vehicle.model }} (Year: {{ vehicle.year }})
        </li>
        <li class="text-lg font-medium">
          License Plate: {{ vehicle.license_plate }}
          Color: {{ vehicle.color }}
        </li>
        {% endfor %}
    </ul>
  {% else %}
    <p>You currently have no assigned vehicles.</p>
  {% endif %}




  <h2 class="mt-6 text-center">Your Profile:</h2>
    <ul class="list-none mx-auto px-4 py-2 rounded-md bg-gray-100 shadow-md">
      <li class="text-lg font-medium">First Name: {{ user.first_name }}</li>
      <li class="text-lg font-medium">Last Name: {{ user.last_name }}</li>
      <li class="text-lg font-medium">Username: {{ user.username }}</li>
      <li class="text-lg font-medium">Email: {{ user.email }}</li>
      <li class="text-lg font-medium">License Number: {{ user.license_number }}</li>
{#      {% for field, value in driver.fields.items %}#}
{#        {% if field.name not in ['vehicle_assigned', 'id'] %}#}
{#          <li class="text-lg font-medium">{{ field.verbose_name }}: {{ value }}</li>#}
{#        {% endif %}#}
{#      {% endfor %}#}
    </ul>


</body>
</html>
