<!DOCTYPE html>
<html lang="en">
{#{% extends base.html %}#}
    <head>
        <meta charset="UTF-8">
        <!-- Include Django's default CSS -->
        {% load static %}
{#        {% load tailwindcss %}#}
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'lauda/css/manager.css' %}">
        <title>Manager View</title>
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body class = font-sans"
          data-active-vehicles="{{ active_vehicles }}"
          data-inactive-vehicles="{{ inactive_vehicles }}"
          data-suv-count="{{ SUV_count }}"
          data-sedan-count="{{ Sedan_count }}"
          data-minivan-count="{{ Minivan_count }}"
          data-pickuptruck-count="{{ PickupTruck_count }}"
          data-hatchback-count="{{ Hatchback_count }}">
        <form class="flex items-center mb-3" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <label for="file" class="mr-2 text-gray-700">Upload Excel File:</label>
          <input type="file" name="file" id="file" class="block w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
          <button class="ml-2 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-700" type="submit">Save New Vehicles</button>
        </form>
        <button onclick="window.location.href='{% url 'export_to_excel' %}'">Export Vehicles to Excel</button>
        <div class="grid grid-cols-2 gap-4">
            <div class="bg-gray-100 rounded-md p-4 shadow-md">
                <canvas id="vehicleStatusChart" width="400" height="300"></canvas>
            </div>

            <div class="bg-gray-100 rounded-md p-4 shadow-md">
                <canvas id="vehicleTypeChart" width="400" height="300"></canvas>\
            </div>
        </div>

        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'Drivers')" id="defaultOpen">Drivers</button>
            <button class="tablinks" onclick="openTab(event, 'Vehicles')">Vehicles</button>
        </div>

        <div id="Drivers" class="tabcontent container mx-auto px-4 py-2">
            <h3>Drivers</h3>
        <!-- Render your drivers table here -->
            <table>
                <thead>
                    <tr>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>DOB</th>
                        <th>Address</th>
                        <th>License Number</th>
                        <th>Vehicle Assigned</th>
                    </tr>
                </thead>
                <tbody>
                    {% for driver in all_drivers %}
                    <tr>
                        <td>{{ driver.first_name }}</td>
                        <td>{{ driver.last_name }}</td>
                        <td>{{ driver.email }}</td>
                        <td>{{ driver.phone_number }}</td>
                        <td>{{ driver.date_of_birth }}</td>
                        <td>{{ driver.address }}</td>
                        <td>{{ driver.license_number }}</td>
                        <td>{{ driver.vehicle_assigned }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="Vehicles" class="tabcontent">
            <h3>Vehicles</h3>
            <!-- Render your vehicles table here -->
            <table>
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Color</th>
                        <th>License Plate</th>
                        <th>Body Type</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vehicle in all_vehicles %}
                    <tr>
                        <td>{{ vehicle.year }}</td>
                        <td>{{ vehicle.make }}</td>
                        <td>{{ vehicle.model }}</td>
                        <td>{{ vehicle.color }}</td>
                        <td>{{ vehicle.license_plate }}</td>
                        <td>{{ vehicle.vehicle_type }}</td>
                        <td>{{ vehicle.vehicle_status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <script src="{% static 'lauda/js/manager.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
    </body>
</html>