<!DOCTYPE html>
<html lang="en">
{#{% extends base.html %}#}
    <head>
        <meta charset="UTF-8">
        <!-- Include Django's default CSS -->
        {% load static %}
{#        {% load tailwindcss %}#}
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'lauda/css/manager.css' %}">
        <title>Manager View</title>
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body class = font-sans"
          data-active-vehicles="{{ active_vehicles }}"
          data-inactive-vehicles="{{ inactive_vehicles }}"
          data-suv-count="{{ SUV_count }}"
          data-sedan-count="{{ Sedan_count }}"
          data-minivan-count="{{ Minivan_count }}"
          data-pickuptruck-count="{{ PickupTruck_count }}"
          data-hatchback-count="{{ Hatchback_count }}">
    <header class="bg-blue-600 text-white px-4 py-2 flex">
        <h1 class="text-xl font-bold text-gray-300 rounded-md text-center">LAUDA MANAGER DASHBOARD</h1>
        <a class="content-end ml-2 px-4 py-2 bg-gray-200 text-gray-700 rounded-md hover:bg-gray-300 font-bold" href="{% url 'logout' %}">Logout</a>
    </header>
        <form class="flex items-center mb-3 bg-blue-500 px-4 py-4 rounded-md shadow-md" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <a href="{% url 'export_to_excel' %}" class="ml-2 px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-800 font-bold mr-4 decoration-white">Export Vehicles to Excel</a>
          <a href="{% url 'export_to_pdf' %}" class="ml-2 px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-700 font-bold mr-4 decoration-white">Export Vehicles to PDF</a>
            <label for="file" class="mr-2 text-gray-700 font-bold">Upload Excel File:</label>
          <input type="file" name="file" id="file" class="block w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
          <input type="hidden" name="is_cancelled" value="0"> <button class="ml-2 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-700 font-bold" type="submit">Save New Vehicles</button>
          <button class="ml-2 px-4 py-2 bg-gray-200 text-gray-700 rounded-md hover:bg-gray-300 font-bold" type="submit">Cancel</button>
        </form>

        <div class="grid grid-cols-3 gap-6">
            <div class="bg-gray-100 rounded-md p-4 shadow-md">
                <h1 class="text-center text-2xl font-bold" >Vehicle Status</h1>
                <canvas id="vehicleStatusChart" width="100" height="100"></canvas>
            </div>

            <div class="bg-gray-100 rounded-md p-4 shadow-md">
                <h1 class="text-center text-2xl font-bold">Vehicle Type</h1>
                <canvas id="vehicleTypeChart" width="100" height="100"></canvas>
            </div>
        </div>

        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'Drivers')" id="defaultOpen">Drivers</button>
            <button class="tablinks" onclick="openTab(event, 'Vehicles')">Vehicles</button>
        </div>

        <div id="Drivers" class="tabcontent container mx-auto px-4 py-2">
        <!-- Render your drivers table here -->
            <table>
                <thead>
                    <tr>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>DOB</th>
                        <th>Address</th>
                        <th>License Number</th>
                    </tr>
                </thead>
                <div id="pagination controls">
                    <button id="prev-page-btn">Previous</button>
                    <button id="next-page-btn">Next</button>
                </div>
                <tbody id="driver-table-body">
                    {% for driver in all_drivers %}
                    <tr>
                        <td>{{ driver.first_name }}</td>
                        <td>{{ driver.last_name }}</td>
                        <td>{{ driver.email }}</td>
                        <td>{{ driver.phone_number }}</td>
                        <td>{{ driver.date_of_birth }}</td>
                        <td>{{ driver.address }}</td>
                        <td>{{ driver.license_number }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="Vehicles" class="tabcontent">
            <!-- Render your vehicles table here -->
            <table>
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Color</th>
                        <th>License Plate</th>
                        <th>Body Type</th>
                        <th>Status</th>
                        <th>Assigned Driver</th>
                    </tr>
                </thead>
                <div id="pagination controls">
                    <button id="prev-page-btn">Previous</button>
                    <button id="next-page-btn">Next</button>
                </div>
                <tbody id="vehicle-table-body">
                    {% for vehicle in all_vehicles %}
                    <input type="hidden" name="vehicle_id-{{ vehicle.id }}" value="{{ vehicle.id }}">
                        <td>{{ vehicle.year }}</td>
                        <td>{{ vehicle.make }}</td>
                        <td>{{ vehicle.model }}</td>
                        <td>{{ vehicle.color }}</td>
                        <td>{{ vehicle.license_plate }}</td>
                        <td>{{ vehicle.vehicle_type }}</td>
                        <td>{{ vehicle.vehicle_status }}</td>
                        <td>{{ vehicle.driver_assigned }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <script type="text/javascript" src="{% static 'lauda/js/manager.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
    </body>
</html>