<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Assigned Vehicle</title>
        <!-- Include Django's default CSS -->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
    </head>
    <body>
        <h1>Assigned Vehicle</h1>
        {% if driver_vehicle %}
            <p><b>Make:</b> {{ driver_vehicle.make }}</p>
            <p><b>Model:</b> {{ driver_vehicle.model }}</p>
            <p><b>Year:</b> {{ driver_vehicle.year }}</p>
            <p><b>License Plate:</b> {{ driver_vehicle.license_plate }}</p>
            <p><b>Body Type:</b> {{ driver_vehicle.vehicle_type }}</p>
            <p><b>Color:</b> {{ driver_vehicle.color }}</p>
            <p><b>Status:</b> {{ driver_vehicle.vehicle_status }}</p>
            {% else %}
            <p>You have not been assigned to any vehicles.</p>
        {% endif %}
    </body>
</html>
