<!DOCTYPE html>
<html>

{#{% extends '../base.html' %}#}
{#{% load tailwind_tags %}#}
{#{% tailwind_css %}#}
    <head>
        <!-- Include Django's default CSS -->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
        <title>Resetting Password</title>
    </head>
    <body>
    {% block title %}
        Register a new user
    {% endblock %}

    {% block content %}
        <h1>Check your email for a link to reset your password</h1>

    {% endblock %}
  </body>
</html>