<!DOCTYPE html>
<html>
    <head>
        <!-- Include Django's default CSS -->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
    </head>

{#{% extends '../base.html' %}#}
{#{% load tailwind_tags %}#}
{#{% tailwind_css %}#}
    <body>
{#    {% block title %}#}
{#        Reset your password#}
{#    {% endblock %}#}

    {% block content %}
        <h1>Reset your password</h1>
        <form class="registration_form" method="post">
          {% csrf_token %}
            {{ form }}
            <button>Submit</button>
        </form>
    {% endblock %}
    </body>
</html>