<!DOCTYPE html>
<html>
    <head>
        <!-- Include Django's default CSS -->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
        <title>LAUDA</title>
        {% block title %}
            Welcome!
        {% endblock %}
    </head>
    {% block content %}
        <h1>Log In</h1>
        <form class="login_form" method="post">
          {% csrf_token %}
            {{ form.as_p }}
            <button>Log In</button>
        </form>
        <p>
            Don't have a user account? Register <a href="register">here</a>
        </p>
        <p>
            Forgot password? Reset your password <a href="forgot_password">here</a>
        </p>
    {% endblock %}
</html>