{#{% extends '../base.html' %}#}
{#{% load tailwind_tags %}#}
{#{% tailwind_css %}#}
    <head>
        <!-- Include Django's default CSS -->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
    </head>
    {% block title %}
        Register a new user
    {% endblock %}
    <body>
    {% block content %}
        <h1>Enter a new password</h1>
        <form class="registration_form" method="post">
          {% csrf_token %}
            {{ form }}
            <input value="{{ token }}" name="password_token" hidden/>
            <input value="{{ driver_id }}" name="driver_id" hidden/>
            <button>Reset</button>
        </form>
    {% endblock %}
  </body>
</html>